@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-gray-100 border-b-2 border-gray-700
}


/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}